<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Привет, Мир!</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <h1>Привет, Мир!</h1>
    <p>Это главная страница.</p>

    <h3>Список:</h3>
    <ul>
        <li>Элемент 1</li>
        <li>Элемент 2</li>
        <li>Элемент 3</li>
    </ul>

    <h3>Таблица:</h3>
    <table>
        <tr><th>Имя</th><th>Возраст</th></tr>
        <tr><td>Фёдор</td><td>17</td></tr>
        <tr><td>Артём</td><td>18</td></tr>
    </table>
</body>
</html>
